.header{
    display: flex;
    justify-content: space-between;
    margin: 5%;
}
.name{
    display: flex;
}
.fa-brands{
    width: 50px;
    height: 50px;
    justify-content:center;
}
.body{
    margin-left: 35%;
    margin-right: 35%;
    border: solid;
}
.iconos{
    justify-content: space-between;
    display: flex;
    margin: 5%;
}
img{
    margin-left: auto;
    width: 453px;
}
h3{
    margin-top: 0%;
}
.comentario{
    margin: 5%;
}
.foto{
    
}